@import "./profil.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.sfondino{
    background-image: url("/public/img/sfondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    width: 100vw;
}

.swasso {
    background-color: #e9eff3;
}

/* spazio tra una parte e l'alatra usare un div */
.space{
    padding-top:30%;
}

.hh{
    border-bottom:5px solid black;
    border-left:5px solid black; 
    border-right:5px solid black; 
    box-shadow: #136b9b 15px 15px;
 
}