@import "./profil.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.sfondino{
    background-image: url("/public/img/sfondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    width: 100vw;
}

.swasso {
    background-color: #e9eff3;
}

/* spazio tra una parte e l'alatra usare un div */
.space{
    padding-top:30%;
}